* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  text-align: center;
}
.container > .progress-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 350px;
  max-width: 100%;
}
.container > .progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}
.container > .progress-container > .move {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.container > .progress-container > .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #999;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}
.container > .progress-container > .circle.active {
  border-color: #3498db;
}
.container .btn {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  margin: 5px;
  padding: 8px 30px;
  font-size: 14px;
}
.container .btn:active {
  transform: scale(0.98);
}
.container .btn:focus {
  outline: 0;
}
.container .btn:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}
