:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    text-align: center;
}

.container > .progress-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 350px;
    max-width: 100%;
}

.container > .progress-container::before{
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.container > .progress-container > .move{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #999;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.container > .btn {
    background-color: var(--line-border-fill);
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    margin: 5px;
    padding: 8px 30px;
    font-size: 14px;
}

.container > .btn:active {
    transform: scale(0.98);
}

.container > .btn:focus {
    outline: 0;
}

.container > .btn:disabled {
    cursor: not-allowed;
    background-color: var(--line-border-empty);
}