      #content > .list > .course {
        background: url(../img/bg2.jpg) no-repeat;
      }
      #content > .list > .course .course1 {
        margin: 50px;
        position: relative;
        z-index: 2;
      }
      #content > .list > .course .course2 {
        margin-left: 50px;
        width: 400px;
        position: relative;
        z-index: 2;
      }
      #content > .list > .course .course3 {
        position: absolute;
        right: 50px;
        top: 70px;
        z-index: 2;
        width: 480px;
      }
      #content > .list > .course .course3 .item {
        float: left;
        width: 120px;
        height: 132px;
        position: relative;
        perspective: 500px;
        transform-style: preserve-3d;
      }
      #content > .list > .course .course3 .item .face,
      #content > .list > .course .course3 .item .backFace {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 15px;
        transition: transform 1s;
      }
      #content > .list > .course .course3 .item .backFace {
        background-position: 50% 50% !important;
      }
      #content > .list > .course .course3 .item:nth-of-type(1) .backFace {
        background: url(../img/apcoa.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(2) .backFace {
        background: url(../img/apcoa.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(3) .backFace {
        background: url(../img/bks.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(4) .backFace {
        background: url(../img/gu.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(5) .backFace {
        background: url(../img/hlx.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(6) .backFace {
        background: url(../img/lbs.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(7) .backFace {
        background: url(../img/leonberg.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(8) .backFace {
        background: url(../img/pcwelt.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(9) .backFace {
        background: url(../img/tata.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(10) .backFace {
        background: url(../img/bks.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(11) .backFace {
        background: url(../img/bks.png) no-repeat;
      }
      #content > .list > .course .course3 .item:nth-of-type(12) .backFace {
        background: url(../img/bks.png) no-repeat;
      }
      #content > .list > .course .course3 .item .face {
        transform: rotateY(180deg);
        backface-visibility: hidden;
        background: #009ee0;
        color: white;
      }
      #content > .list > .course .course3 .item:hover .face {
        transform: rotateY(360deg);
      }
      #content > .list > .course .course3 .item:hover .backFace {
        transform: rotateY(180deg);
      }
      #content > .list > .course .course3 .line {
        position: absolute;
        top: -7px;
        width: 9px;
        height: 410px;
        background: url(../img/plus_row.png) no-repeat;
      }
      #content > .list > .course .course3 .line:nth-of-type(1) {
        left: -5px;
      }
      #content > .list > .course .course3 .line:nth-of-type(2) {
        left: 115px;
      }
      #content > .list > .course .course3 .line:nth-of-type(3) {
        left: 235px;
      }
      #content > .list > .course .course3 .line:nth-of-type(4) {
        left: 355px;
      }
      #content > .list > .course .course3 .line:nth-of-type(5) {
        left: 475px;
      }